@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.bar-color {
    background-color: #00ff00;
}

.updated-bar-color {
    background-color: #ff00ff;
}

@keyframes barAnimation {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.bar-animation {
    animation: barAnimation 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
